<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">

    <div *ngFor="let meta of metadata" class="form-row">
      <mat-form-field>
        <input matInput [placeholder]="meta.caption" [formControlName]="meta.name" [required]="meta.mandatory" >
        <mat-error *ngIf="formGroup.controls[meta.name].invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <button type="submit" [disabled]="!formGroup.valid" (click)="onSubmit()">Save</button>
      <button type="submit" (click)="onCancel()">Cancel</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
